<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>weather application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoAddCitiesServlet</display-name>
    <servlet-name>DemoAddCitiesServlet</servlet-name>
    <servlet-class>in.sp.backend.DemoAddCities</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoAddCitiesServlet</servlet-name>
    <url-pattern>/DemoAddCities</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dummyServlet</display-name>
    <servlet-name>dummyServlet</servlet-name>
    <servlet-class>in.sp.backend.dummyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dummyServlet</servlet-name>
    <url-pattern>/dummyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AverageTemperatureServlet</display-name>
    <servlet-name>AverageTemperatureServlet</servlet-name>
    <servlet-class>in.sp.backend.AverageTemperatureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AverageTemperatureServlet</servlet-name>
    <url-pattern>/AverageTemperatureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvgTempServlet</display-name>
    <servlet-name>AvgTempServlet</servlet-name>
    <servlet-class>in.sp.backend.AvgTempServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvgTempServlet</servlet-name>
    <url-pattern>/AvgTempServlet</url-pattern>
  </servlet-mapping>
</web-app>